.recipes {
  padding-top: 55px;
  padding-bottom: 55px;
}

.recipes__heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;

  margin-bottom: 80px;
}

.recipes__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.recipes-card__image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.recipes-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;

  transition: transform 0.4s ease;

  border-radius: 20px;
}

.recipes-card__image-wrapper:hover .recipes-card__image {
  transform: scale(1.05);
}

.recipes-card__title {
  margin-top: 16px;
  margin-bottom: 24px;
}

.recipes-card__chips {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1024px) {
  .recipes__heading {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .recipes__heading {
    gap: 15px;
  }
}
