.recipes {
  padding-top: 55px;
  padding-bottom: 55px;
}

.recipes__heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;

  margin-bottom: 80px;
}

.recipes__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;

  grid-auto-flow: row;
}

.recipes__item {
  display: block;
  overflow: hidden;
}

.recipes-card {
  transform: translate(-100%, -100%);
  animation: reveal 0.7s ease forwards;
}

.recipes__item:nth-child(1) .recipes-card { animation-delay: 0.1s; }
.recipes__item:nth-child(2) .recipes-card { animation-delay: 0.2s; }
.recipes__item:nth-child(3) .recipes-card { animation-delay: 0.3s; }
.recipes__item:nth-child(4) .recipes-card { animation-delay: 0.4s; }
.recipes__item:nth-child(5) .recipes-card { animation-delay: 0.5s; }
.recipes__item:nth-child(6) .recipes-card { animation-delay: 0.6s; }
.recipes__item:nth-child(7) .recipes-card { animation-delay: 0.7s; }
.recipes__item:nth-child(8) .recipes-card { animation-delay: 0.8s; }

.recipes-card__image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.recipes-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;

  transition: transform 0.4s ease;

  border-radius: 20px;
}

.recipes-card__image-wrapper:hover .recipes-card__image {
  transform: scale(1.05);
}

.recipes-card__title {
  margin-top: 16px;
  margin-bottom: 24px;
}

.recipes-card__chips {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1024px) {
  .recipes__heading {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .recipes__heading {
    gap: 15px;
  }
}
